@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Alegreya+Sans&family=Alegreya+Sans+SC&family=Lato&family=Open+Sans&family=Roboto&display=swap');
* {
    box-sizing: border-box;
}

body {
  background-image: url("Images/Background2.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}



.sidenav {
  height: 90%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 100000;
  bottom: 2.5;
  left: 0;
  background-color: #040733;
  overflow-x: hidden;
  padding-top: 20px;
  border-radius: 10px;

}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Alegreya Sans SC';
  color: #ffffff;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}


.Box-Header {
    font-family: 'Alegreya Sans SC';
    color: white;
    font-size: 1em;
    background:  #040733;
    margin-bottom: 20px;
    margin-top: 10px;
}

#myChart {
  margin: auto;
  background: #040733;
  width: 50px;
  height: 60px;
}

.Translucent-Box {
    display: inline-block;
    margin: 50px;
    background:#040733;
    margin-left: 200px;
    padding: 20px;
    width: 400px;
    height: 350px;
    border-radius: 50px;
  }