@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Alegreya+Sans&family=Alegreya+Sans+SC&family=Lato&family=Open+Sans&family=Roboto&display=swap');
* {
    box-sizing: border-box;
}

/* Header and Body */

.Header {
  background-image: url("Images/BlueTiles.png");
  padding-bottom: 30px;
  background-size: contain;
  height: 100px;
  margin-top: 0px;
}

body {
  background-image: url("Images/HighResBlueTiles.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  min-height: 100vh;
  margin: 0px;
  font-family: 'Alegreya Sans SC';
  overflow: hidden;
  
}

 /* Side Navigation Menu */

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 10;
  left: 0;
  background: inherit;
  overflow-x: hidden;
  padding-top: 20px;
  box-shadow: inset 0 0 2000px rgba(0, 225, 255, 0.2);
}


.sidenav::before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.2);
  filter: blur(10px);
  

}
.sidenav a {
  margin-top: 30px;
  padding: 6px 8px 30px 16px;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Alegreya Sans SC';
  color: #ffffff;
  display: block;
}

.sidenav .User {
  position: absolute;
  bottom: 0;
  margin-bottom: 50px;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Alegreya Sans SC';
  color: #ffffff;
  display: block;
}

.sidenav a:hover {
  color: #000000;
  background-color: rgba(0, 0, 0, 0.2);
}


/* First 3 Frosted Glass Panes */

.Top-Box {
  height: 400px;
  width: calc(100% - 150px);
  margin-left: 150px;
  margin-top: 0px;
  display: flex;
  justify-content: space-evenly;
  background: inherit;

  
}

/* First 3 Frosted Glass Panes */

.Middle-Box {
  height: 400px;
  width: calc(100% - 150px);
  margin-left: 150px;
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-evenly;
  background: inherit;

  
}


/* Bottom 3 Frosted Glass Pane */

.Bottom-Box {
  height: 400px;
  width: calc(100% - 150px);
  margin-left: 150px;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  background: inherit;

  
}


/* Frosted Glass Rounded Pane */

.Translucent-Box {
  display: inline-block;
  margin-top: 50px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 20px;
  height: 450px;
  width: 450px;
  border-radius: 40px;
  padding: 10px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2); 
  position: relative;
  z-index: 1;
  background: inherit;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.Translucent-Box:hover {
  overflow-y: scroll;
  
}
::-webkit-scrollbar {
  width: 6px; height: 4px; 
  background: transparent; 
}
::-webkit-scrollbar-thumb { 
  background-color: rgba(16, 200, 233, 0.781); 
  -webkit-border-radius: 1ex; 
}

.Translucent-Box::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.Translucent-Box:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.2);
  filter: blur(10px);
  margin: 0x;
}


/* Frosted Glass Rounded Pane */

.Translucent-Box-Wide {
  display: inline-block;
  margin-top: 50px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 20px;
  height: 350px;
  width: 700px;
  border-radius: 40px;
  padding: 10px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2); 
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
}

.Translucent-Box-Wide:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.2);
  filter: blur(10px);
  margin: -20px;
}



/* Header in each box */


.Box-Header {
  font-family: 'Alegreya Sans SC';
  color: white;
  font-size: 1.2em;
  margin-left: 5px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  
    
}

/* Formatting for each Panel */

#myChart {
  margin: auto;
  width: 50px;
  height: 60px;
}

#myChart2 {
  margin: auto;
  width: 50px;
  height: 60px;
}

.PanelThree {
  font-size: 25px;
  color: #ffffff;
  text-align: center;
  font-weight: bolder;
}

.PanelThree ul {
  padding: 0px;
  
}

#myChart4 {
  margin: auto;
  width: 50px;
  height: 60px;
}

#myChart5 {
  margin: auto;
  width: 50px;
  height: 60px;
}


#myChart6 {
  margin: auto;
  width: 50px;
  height: 60px;
}



hr {
  border: 2.5px solid rgb(106, 139, 161);
  margin-left: 175px;
  margin-top: 50px;
  width: calc(100% - 200px);
  border-radius: 0px;
}
