
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Viewer | Analysis</title>
  <link rel="stylesheet" href="../static/analysis.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
  <!-- <header class = "Header">Hi</header> -->
  
  <div class = "sidenav">
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
    <span class = "User"> Bank</span> 
  </div>


  <div class="Middle-Box">
    <div class = "Translucent-Box">
       <h1 class = "Box-Header">Categorical Spending in Last 30 Days</h1>
       <canvas id= "myChart" height="250" width="250"></canvas>
     </div>
   
     <div class = "Translucent-Box">
      <h1 class = "Box-Header">Categorical Spending in the last 12 Months</h1>
      <canvas id = "myChart2" height="250" width="250"></canvas>
    </div> 
    <div class = "Translucent-Box">
      <h1 class = "Box-Header">5 Biggest Purchases in Last 12 Months</h1>
      <div class = "PanelThree">
        <ul>Uber </ul>
        <ul>Apple </ul>
        <ul>McDonalds </ul>
        <ul>Samsung</ul>
        <ul>HP </ul>
      </div>
    </div> 
     
   </div>

   <div class="Bottom-Box">
    <div class = "Translucent-Box">
       <h1 class = "Box-Header">Total Spending in the Last 30 Days</h1>
       <canvas id= "myChart4" height="200" width="250"></canvas>
     </div>
   
     <div class = "Translucent-Box">
      <h1 class = "Box-Header">Total Spending in the Last 12 Months</h1>
      <canvas id = "myChart5" height="200" width="250"></canvas>
    </div>

    <div class = "Translucent-Box">
      <h1 class = "Box-Header">Transaction of the Past 30 Days</h1>
      <div class = "PanelThree">
        <ul>Uber </ul>
        <ul>Apple </ul>
        <ul>McDonalds </ul>
        <ul>Samsung</ul>
        <ul>HP </ul>
        <ul>Uber </ul>
        <ul>Apple </ul>
        <ul>McDonalds </ul>
        <ul>Samsung</ul>
        <ul>HP </ul>
        
      </div>
    </div>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
   <script src="Chart.js" type="text/javascript"></script>
  
</body>


</html>