
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Viewer | Analysis</title>
  <link rel="stylesheet" href="../static/analysis.css">
</head>

<body>
<!--  <div id = "mySidenav" class = "sidenav">-->
<!--    <a href = "1.html" -->
<div class = "side-nav">
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<div class = "Translucent-Box">
  <div class = "Box-Header">
        <h1>Categorical Spending</h1>
      </div>
    <canvas id="myChart" width="350" height="350"></canvas>
        
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
  <script src="./js/script.js"></script>
  
  <script src="Chart.js" type="text/javascript"></script>


  
</body>

</html>